* {
    /* Suppress browser defaults and select alt box model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-color-primary:#F7EDCE;
    --font-color-secondary: #fff700;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_background {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-80%, 0);
    color: var(--font-color-primary);
    font-size: 100px;
    text-align: center;
}

.intro p{
    position: absolute;
    top: 30%;
    left: 27%;
    margin-top: 10px;
    color: var(--font-color-primary);
    font-size: 60px;
}

.intro i{
    position: absolute;
    top: 10%;
    left: 45%;
    margin-top: 20px;
    color: var(--font-color-primary);
    font-size: 90px;
}

.why_go {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.why_go_img{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.why_go .title{
    position: absolute;
    font-size: 50px;
    color: var(--font-color-primary);
    top: 30%;
    left: 20%;
    text-align:justify;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    height: 500px;
    width: 800px;
    border-radius: 10%;
}

.why_go .why_go_exp{
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1100px;
    height: 1000px;
    overflow: hidden;
    font-size: 30px;
    text-align: justify;
    padding: 30px;
    color: var(--font-color-primary);
    border-radius: 10%;
}

.why_go_exp button{
    position: absolute;
    top: 80%;
    left: 20%;
    width: 200px;
    height: 100px;
    font-size: 32px;
    border-radius: 10%;
    background-color: var(--font-color-primary);
    transition: background .5s ease;

}

.why_go_exp button:hover{
    background-color: rgb(67, 75, 230);
    color: var(--font-color-primary);
}

.photos {
    overflow: hidden;
    background-size: contain;
    position: relative;

}

.photos .backgroung_img_for_photos_slide {
    width: 100%;
    height: 100vh;
    background-size: contain;
}

.photos h2 {
    font-size:50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    color: var(--font-color-primary);
    position: absolute;
    top: 5%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photos .attraction1{
    
    position: absolute;
    top: 35%;
    left: 8%;
    border: 8px solid #000;
    border-radius: 30px;
    padding: 0px;

}

.photos .attraction1desctiption {
    position: absolute;
    top: 66%;
    left: 12%;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 0px;
    color: var(--font-color-secondary);
    font-size: 50px;
    padding: 5px;

}

.photos .attraction2description {
    position: absolute;
    top: 66%;
    left: 44.5%;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 0px;
    color: var(--font-color-secondary);
    font-size: 50px;
    padding: 5px;
}

.photos .attraction3description {
    position: absolute;
    top: 66%;
    left: 76.5%;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 0px;
    color: var(--font-color-secondary);
    font-size: 50px;
    padding: 5px;
}


.photos .attraction2{
    position: absolute;
    top: 35%;
    left: 40%;
    border: 8px solid #000;
    border-radius: 30px;
    padding: 0px;

}


.photos .attraction3{
    
    position: absolute;
    top: 35%;
    left: 75%;
    border: 8px solid #000;
    border-radius: 30px;
    padding: 0px;

}

.photos .button-style {
    position: absolute;
    top: 80%;
    left: 46%;
    width: 200px;
    height: 100px;
    font-size: 32px;
    border-radius: 10%;
    background-color: var(--font-color-primary);
    transition: background .5s ease;
}

.photos .button-style:hover {
    background-color: rgb(67, 75, 230);
    color: var(--font-color-primary);
}

.attractions {
    overflow: hidden;
    background-size: contain;
    position: relative;
}

.attractions .slide4img {
    width: 100%;
    height: 100vh;
    background-size: contain;
}

.attractions h2 {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 55px;
    color: var(--font-color-primary);
    background-color: rgba(0, 0, 0, 0.5);
}

.attractions .attractions-description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10%;
    left: 50%;
    height: 1000px;
    width: 1100px;
}

.attractions .attractions-description h3 {
    font-size: 50px;
    color: var(--font-color-primary);
    font-weight: 800;
    
}

.attractions .attractions-description p {
    font-size: 26px;
    color: var(--font-color-primary);
    padding: 25px;
    font-weight: 600;
}

.statistics {
    /* overflow: hidden; */
    background-size: contain;
    position: relative;
}

.statistics .statistics-img {
    width: 100%;
    height: 100vh;
    background-size: contain;
}

.statistics .statistical-facts {
    position: absolute;
    top: 45%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.statistics .statistical-facts h3 {
    padding: 70px 100px;
    justify-content: center;
    align-items: center;
    background-color:#000;
    height: 300px;
    width: 300px;
    margin: 0px 100px;
    border-radius: 50%;
    color: var(--font-color-secondary);
}

.statistics .statistical-facts h3 span{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    color: var(--font-color-primary);
}

.customer-experience {
    background-size: contain;
    position: relative;
}

.customer-experience .customer-experience-background-img {
    width: 100%;
    height: 100vh;
    background-size: contain;
}


.customer-experience .customer-img {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 8px solid #000;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.customer-experience p {
    position: absolute;
    font-size: 30px;
    color: var(--font-color-primary);
    top: 70%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    padding: 45px;
}

.contact-me {
    background-size: contain;
    position: relative;
}

.contact-me .contact-background-img {
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-me .contacts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color-primary);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
    padding: 20px;
    text-align: center;
}

.contact-me .contacts h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contact-me .contacts p {
    margin: 5px 0;
    font-size: 18px;
}

.contact-me .contacts .icons {
    margin: 20px 0;
}

.contact-me .contacts .icons i {
    font-size: 24px;
    margin: 0 10px;
    color: var(--font-color-primary);
}

.contact-me-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between input fields */
    max-width: 400px; /* Optional: Limit the width of the form */
    margin: 0 auto; /* Center the form horizontally */
}

.contact-me-inputs label {
    font-weight: bold;
}

.contact-me-inputs input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contacts button{
    padding: 10px 20px;

    font-size: 16px;
    border-radius: 10%;
    background-color: var(--font-color-primary);
    transition: background .5s ease;

}

.contacts button:hover{
    background-color: rgb(67, 75, 230);
    color: var(--font-color-primary);
}
